.places__paragraph {
  font-weight: normal;
  line-height: 163%;
  padding: 0;
  margin-bottom: 0px;
  margin-top: 0px;
}

@media (min-width: 320px) {
  .places__paragraph {
    width: 288px;
    font-size: 16px;
  }
  .places__paragraph:nth-child(2n) {
    margin-top: 25px;
  }
}
@media (min-width: 768px) {
  .places__paragraph {
    width: 352px;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .places__paragraph {
    width: 456px;
    font-size: 18px;
  }
  .places__paragraph:nth-child(2n) {
    font-size: 18px;
  }
}
@media (min-width: 1280px) {
  .places__paragraph {
    margin: 0;
    width: 484px;
    font-size: 18px;
  }
}
