.header__lang-link {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  box-sizing: border-box;
  margin-right: 18px;
  text-decoration: none;
}
.header__lang-link:hover {
  opacity: 80%;
}
.header__lang-link:nth-child(2n) {
  margin-right: 0px;
  text-decoration: none;
}

@media (min-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
  }
}
@media (min-width: 320px) {
  .header__lang-link:nth-child(2n) {
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
  }
}
@media (min-width: 320px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
  }
}
@media (min-width: 320px) {
  .header__lang-link:nth-child(2n) {
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
  }
}
