.footer__links-container {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}
@media (min-width: 320px) {
  .footer__links-container {
    display: flex;
    min-width: 320px;
    flex-direction: column;
    align-content: flex-start;
    align-self: center;
  }
}
@media (min-width: 768px) {
  .footer__links-container {
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: center;
    align-self: flex-end;
  }
}
