.header__links-list {
  display: flex;
  box-sizing: border-box;
  list-style: none;
}

@media (min-width: 320px) {
  .header__links-list {
    margin-top: 30px;
    margin-right: 16px;
  }
}

@media (min-width: 768px) {
  .header__links-list {
    margin-top: 46px;
    margin-right: 24px;
  }
}
@media (min-width: 768px) {
  .header__links-list {
    margin-right: 48px;
  }
}
