.footer__link {
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
}
.footer__link:hover {
  opacity: 80%;
}
@media (min-width: 320px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 32px;
    text-align: start;
    padding-left: 16px;
  }
}
@media (min-width: 768px) {
  .footer__link {
    padding: 0;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    height: 18px;
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
    margin-bottom: 0px;
  }
}
