.footer__link {
  /*display: inline-block;
  list-style-type: none;
  text-align: center;
  height: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;*/
  color: #ffffff;
  /*margin-right: 18px;
  text-decoration: none;*/
}
.footer__link:hover{
  opacity:80%;
}
@media (min-width: 320px) {
  .footer__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 32px;
    text-decoration: none;
    text-align: start;
  }
}
@media (min-width: 768px) {
  .footer__link {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    height: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    margin-right: 18px;
    text-decoration: none;
    margin-bottom: 0px;
  }
}
