.footer__copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  color: #ffffff;
}

@media (min-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    margin-top: 16px;
    width: 320px;
    align-self: center;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .footer__copyright {
    width: 186px;
    height: 16px;
    line-height: 16px;
    text-align: right;
  }
}
