.intro__text {
  margin-top: 40px;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  }

@media (min-width: 320px) {
  .intro__text {
    width: 288px;
    margin-left: 16px;
  }
}
@media (min-width: 768px) {
  .intro__text {
    width: 720px;
    margin-left: 24px;
  }
}
@media (min-width: 1024px) {
  .intro__text {
    width: 690px;
    margin-left: 48px;
  }
}
@media (min-width: 1280px) {
  .intro__text {
    margin-left: 148px;
  }
}
